@import '../../variables.module.scss';

.container {
  height: calc(100% - 40px);
  margin-bottom: 1rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.resultBoxRed,
.resultBoxBlue,
.resultBox {
  margin-bottom: 2px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $navy-dark-color;
}

.resultBoxRed {
  background-color: $error-trans-color;
}

.resultBoxBlue {
  background-color: $success-trans-color;
}

.test {
  color: $white-dark-color;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}

.outputBox {
  display: flex;
  flex-direction: row;
}

.title {
  width: 10rem;
  color: $gray-color;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: right;
  letter-spacing: 1px;
}

.textRed,
.textBlue,
.text {
  margin-left: 0.25rem;
  color: $white-dark-color;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
}

.textBlue {
  color: $success-color;
  font-weight: bold;
}

.textRed {
  color: $error-color;
  font-weight: bold;
}

.loadingBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingText {
  width: 3.2rem;
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: $white-dark-color;
  text-align: left;
}