@import '../variables.module.scss';

.mainRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.mainBox {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  margin-bottom: 2rem;
  font-size: 3rem; /* 48px*/
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.countdownTime {
  margin-bottom: 2rem;
  font-size: 3rem; /* 48px*/
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.scrollBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
}

.text {
  margin-top: 8rem;
  font-size: 1.25rem; /* 48px*/
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.scrollBtn {
  margin-top: 15rem;
}

.info {
  margin-bottom: 2rem;
  font-size: 1.675rem; /* 48px*/
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.mainBtn {
  width: 6rem;
  height:3rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.625rem;
  color: $purple-color;
  background-color: #fff;
  cursor: pointer;
}

.mainBtn:hover {
  background-color: $white-dark-color;
}

.loginBtn {
  width: 6.5rem;
  height:3rem;
  /* padding: 1rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  color: $purple-color;
  background-color: #fff;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: $white-dark-color;
}

.loginText {
  margin-left: 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  color: $purple-color;
}

.floatingBtn {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 3.75rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #fff;
  background-color: $purple-color;
  cursor: pointer;
  position: absolute;
  right: 3rem;
  bottom: 3rem;

  &:hover {
    background-color: $purple-dark-color;
  }
}

.hidden {
  display: none;
}

.scheduleBox {
  width: 60vw;
  height: 5rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  background-color: $white-dark-color;
}

.dateBox {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: $purple-color;
}

.date {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.month {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.infoBox {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  background-color: #f3f3f3;
}

.infoTitle {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

.infoText {
  font-size: 1rem;
  color: #999999;
  font-weight: bold;
}