@import '../variables.module.scss';

.mainBox {
  width: 100vw;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  overflow: auto;
}

.myInfoMini {
  padding: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.myInfoMiniCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myInfoMiniRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mainCol {
  height: 90%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.infoTab {
  display: flex;
  flex-direction: column;
}

.historyTab,
.rankTab,
.myProfileBox {
  width: 22rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  display: flex;
  flex-direction: column;
  background-color: $navy-dark-color;
  border-radius: 10px;
}

.gameHistoryHeader,
.rankTabHeader,
.myProfileHeader {
  // height: 2rem;
  padding: 0.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-direction: row;
  // align-items: center;
  border-bottom: $navy-color solid 2px;
}

.rankTabTitle,
.myProfileTitle {
  color: $white-dark-color;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.myProfileBody {
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.myProfileIcon {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  border: $purple-color solid 4px;
  position: relative;
}

.rankIcon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.myRank{
  position: absolute;
  bottom: -5px;
  left: -5px;
  z-index: 1;
}

.myInfoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.myInfoCol {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.chartBox {
  height: 100%;
  flex: 1;
}

.splitterHorizontal {
  height: 2px;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: $navy-color;
}

.splitterVertical {
  height: 100% !important;
  width: 2px;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-color: $navy-color;
}

.fieldTitleDark,
.percentTextDark,
.pointTextDark,
.nicknameDark,
.fieldTitle,
.percentText,
.pointText,
.nickname {
  max-width: 10rem;
  padding: 0.625rem;
  color: $white-dark-color;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  overflow: hidden auto;
}

.nicknameDark,
.nickname {
  font-size: 1.25rem;
  line-height: 2rem;
}

.infoText,
.percentTextDark,
.pointTextDark,
.percentText,
.pointText {
  font-size: 0.875rem;
  color: $gray-light-color;
}

.infoText,
.fieldTitleDark,
.percentTextDark,
.fieldTitle,
.percentText {
  text-align: center;
  white-space: pre-wrap;
}

.fieldTitleDark {
  width: 4.5rem;
  text-align: left;
}

.fieldTitleDark,
.percentTextDark,
.pointTextDark,
.nicknameDark {
  padding: 0.5rem;
  color: $navy-dark-color;
}

.pointTextDark {
  font-size: 1rem;
}

.infoText {
  padding: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  overflow: hidden auto;
}

.rankBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.rankingBox {
  padding-top: 0.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: $navy-dark-color;
  overflow: auto;
}

.rankingHeader {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.rankingBody {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.rankingBody::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.rankingBody::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #4a02af71;
  /* background-color: #282a35a0; */
}

.rankingElem {
  justify-content: space-evenly;
  height: 3rem;
  padding: 0.625rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rankingElem:hover {
  background-color: #f3f3f3;
}

.rank {
  width: 1.75rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-super-dark-color;
  text-align: center;
}

.rankEmoji {
  width: 1.75rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-super-dark-color;
  text-align: center;
}

.profileIcon {
  margin: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: $purple-color solid 2px;
}

.profileInfo {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winRate{
  width: 4rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.info {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $gray-super-dark-color;
}

.rankIcon{
  width: 35px;
  height: 35px;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  // margin: 2rem;
  // position: relative;
}

.rankTab {
  height: 100%;
  margin-top: 0.675rem;
  overflow: auto;
  background-color: $navy-dark-color;
}

.historyTab {
  height: 90%;
  width: 41.2rem;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: $navy-dark-color;
}

.gameHistoryHeader {
  height: 3rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gameHistoryLeft,
.gameHistoryRight {
  display: flex;
  flex-direction: row;
}

.title {
  padding: 0.625rem;
  color: $white-dark-color;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  overflow: hidden auto;
}

.filterBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterBtnActive,
.filterBtn {
  margin-right: 0.25rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
  color: $white-dark-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $navy-light-color;
  }
}

.filterBtnActive {
  background-color: $navy-light-color;
}

.gameHistoryBody {
  height: 100%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.gameHistoryItem {
  height: 11.25rem;
  width: 38rem;
  min-height: 11.25rem !important;
  margin: 0.625rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: $navy-light-color;
}

.gameHistoryItemBlue {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  background-color: $success-trans-color;
}

.gameHistoryItemRed {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  background-color: $error-trans-color;
}

.gameHistoryColorTagRed,
.gameHistoryColorTagBlue,
.gameHistoryColorTag {
  width: 1rem;
  min-width: 1rem !important;
  background-color: $purple-color;
}

.gameHistoryColorTagBlue {
  background-color: $success-color;
}

.gameHistoryColorTagRed {
  background-color: $error-color;
}

.gameHistoryMain {
  width: 3.5rem;
  // width: 15rem;
  min-width: 3.5rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: $navy-trans-color solid 1px;
}

.gameHistoryMode {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: $white-dark-color;
  background-color: $navy-color;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameHistoryWin,
.gameHistoryLose,
.gameHistoryRank {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: $white-dark-color;
}

.gameHistoryWin {
  color: $success-color;
}

.gameHistoryLose {
  color: $error-color;
}

.gameHistoryInfo {
  width: calc(100% - 6rem);
  padding: 0.625rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.gameHistoryDate {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: right;
  color: $gray-light-color;
}

.gameHistoryEtc {
  flex: 1;
}

.gameHistoryPlayersBox {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.splitterVerticalGray,
.splitterVertical {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  width: 1px;
}

.splitterVerticalGray {
  background-color: $navy-trans-color;
}

.gameHistoryPlayersCol {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.gameHistoryPlayerItem {
  height: 2rem;
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.gameHistoryPlayerProfileImage {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  border: $purple-color solid 2px;
}

.gameHistoryPlayerInfoBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.gameHistoryPlayerPassRate,
.gameHistoryPlayerNickname {
  margin-left: 4px;
  flex: 1;
  font-size: 0.875rem;
  line-height: 2rem;
  color: $white-dark-color;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameHistoryPlayerPassRate,
.gameHistoryPlayerLanguage {
  margin-left: 4px;
  flex: 1;
  font-size: 0.75rem;
  line-height: 2rem;
  text-align: left;
  color: $white-dark-color;
  font-weight: bold;
}

.gameHistoryPlayerLanguage {
  align-self: center;
}

.rankEmoji,
.gameHistoryPlayerRanking {
  width: 1.5rem;
  min-width: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $white-dark-color;
  font-weight: bold;
  text-align: center;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.rankEmoji {
  font-size: 1.5rem;
}

.gameHistoryPlayerPassRate {
  margin-left: 0.625rem;
}

.gameHistoryPlayerLanguage {
  height: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  text-align: center;
  line-height: 1rem;
  color: $white-dark-color;
  background-color: $navy-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $navy-dark-color;
  }
}


.codeBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.codeBox {
  width: 50vw;
  height: 70vh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: $navy-color;
}

.codeEditor {
  width: calc(100% - 2.5rem);
  // flex: 1;
  color: $white-dark-color;
  background-color: $navy-color;
}

.btn {
  // height: 2.5rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  outline: none;
  // border: $gray-color solid 2px;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}

.CodeMirror { 
  height: calc(100% - 2.5rem) !important;
  width:100% !important;
}


.hidden {
  display: none;
}
