@import '../variables.module.scss';

.mainRow {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.gameHistoryBox,
.mainCol {
  width: 18.75rem; /* 300px */
  display: flex;
  flex-direction: column;
}

.gameHistoryBox {
  flex: 1;
  border-right: #000 solid 4px;
}

.gameHistoryHeader {
  height: 3rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gameHistoryLeft,
.gameHistoryRight {
  display: flex;
  flex-direction: row;
}

.toggleBtn,
.title {
  padding: 0.625rem;
  color: $white-dark-color;
  font-size: 1rem;
  line-height: 2rem;
  overflow: hidden auto;
}

.gameHistoryBody {
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.gameHistoryItem {
  height: 11.25rem;
  // width: 80%;
  min-height: 11.25rem !important;
  min-width: 25rem;
  margin: 0.625rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: $white-dark-color;
}

.gameHistoryItemBlue {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  background-color: $success-trans-color;
}

.gameHistoryItemRed {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  background-color: $error-trans-color;
}

.gameHistoryColorTagRed,
.gameHistoryColorTagBlue,
.gameHistoryColorTag {
  width: 1rem;
  min-width: 1rem !important;
  background-color: $purple-color;
}

.gameHistoryColorTagBlue {
  background-color: $success-color;
}

.gameHistoryColorTagRed {
  background-color: $error-color;
}

.gameHistoryMain {
  width: 5rem;
  min-width: 5rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: $navy-trans-color solid 1px;
}

.gameHistoryMode {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: #000;
  background-color: $gray-color;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameHistoryWin,
.gameHistoryLose,
.gameHistoryRank {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: #000;
}

.gameHistoryWin {
  color: $success-color;
}

.gameHistoryLose {
  color: $error-color;
}

.gameHistoryInfo {
  width: calc(100% - 6rem);
  padding: 0.625rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.gameHistoryDate {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: right;
  color: $gray-dark-color;
}

.gameHistoryEtc {
  flex: 1;
}

.gameHistoryPlayersBox {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.splitterVerticalGray,
.splitterVertical {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  width: 1px;
}

.splitterVerticalGray {
  background-color: $navy-trans-color;
}

.gameHistoryPlayersCol {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.gameHistoryPlayerItem {
  height: 2rem;
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
}

.gameHistoryPlayerProfileImage {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  border: $purple-color solid 2px;
}

.gameHistoryPlayerInfoBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.gameHistoryPlayerPassRate,
.gameHistoryPlayerLanguage,
.gameHistoryPlayerNickname {
  margin-left: 4px;
  flex: 1;
  font-size: 0.875rem;
  color: $gray-super-dark-color;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameHistoryPlayerPassRate {
  margin-left: 0.625rem;
}

.gameHistoryPlayerLanguage {
  height: 1.5rem;
  padding: 0.25rem;
  text-align: center;
  line-height: 1rem;
  color: $white-dark-color;
  background-color: $gray-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $gray-dark-color;
  }
}

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white-dark-color;
}

.profileIcon {
  width: 100px;
  height: 100px;
  margin: 0.625rem;
  border-radius: 100px;
  border: $purple-color solid 4px;
}

.nickname {
  max-width: 10rem;
  padding: 0.625rem;
  color: $purple-color;
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden auto;
}

.textMenu {
  padding-left: 0.625rem;
  background-color: $purple-color;
  color: $white-dark-color;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}

.rankingBox {
  padding-bottom: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-dark-color;
  overflow: auto;
}

.codeBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.codeBox {
  width: 50vw;
  height: 70vh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: $navy-color;
}

.codeEditor {
  width: calc(100% - 2.5rem);
  // flex: 1;
  color: $white-dark-color;
  background-color: $navy-color;
}

.btn {
  // height: 2.5rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  outline: none;
  // border: $gray-color solid 2px;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}

.CodeMirror { 
  height: calc(100% - 2.5rem) !important;
  width:100% !important;
}