@import '../variables.module.scss';

.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.header {
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: $navy-color solid 2px;
}

.title {
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  line-height: 1rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  padding: 0.625rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden auto;
}

.chatBoxMine,
.chatBox {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  word-break: break-all;
}

.chatBoxMine {
  align-self: flex-end;
}

.profileIcon {
  width: 2rem;
  height: 2rem;
  border: $purple-color solid 2px;
  border-radius: 2rem;
}

.chatCol {
  margin-left: 0.625rem;
  display: flex;
  flex-direction: column;
}

.chatRow {
  display: flex;
  flex-direction: row;
}

.nickname {
  margin-bottom: 4px;
  font-size: 0.875rem;
  color: $gray-dark-color;
}

.chatTextBoxMine,
.chatTextBox {
  padding: 0.625rem;
  align-self: flex-start;
  color: $white-dark-color;
  border-radius: 0.5rem;
  background-color: $navy-color;
}

.chatTextBoxMine {
  font-weight: bold;
  color: $navy-color;
  border: $purple-color solid 2px;
  background-color: $white-dark-color;
}

.timeMine,
.time {
  margin-left: 4px;
  margin-bottom: 2px;
  align-self: flex-end;
  font-size: 0.75rem;
  color: $gray-dark-color;
  white-space: nowrap;
}

.timeMine {
  margin-right: 4px;
  text-align: right;
}

.form {
  width: 18.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  height: 2.5rem;    // 60px
  padding: 0 0.675rem;    // 0 20px
  font-size: 1rem;    // 16px
  line-height: 2.25rem;
  border: 1px solid $gray-color;
  border-radius: 0.25rem;   // 4px
  outline: none;
  word-wrap: break-word;

  &:focus {
    border: 2px solid $purple-color;
  }

  &::placeholder {
    color: #999999
  }
}

.myPageBtn {
  height: 2.5rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  outline: none;
  // border: $gray-color solid 2px;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}