@import '../variables.module.scss';

.friendElem {
  height: 2.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: $gray-light-color;
  }
}

.friendNickname {
  flex: 1;
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  line-height: 1.25rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connectInfo {
  // width: 4rem;
  width: 1.25rem;
  // margin-right: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoText {
  margin-left: 5px;
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  line-height: 1rem;
  color: $gray-color;
}

.inviteBtnDisable,
.inviteBtnClicked,
.inviteBtn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $white-dark-color;
  background-color: $purple-color;
  cursor: pointer;
}

.inviteBtn {
  padding: calc(0.5rem - 2px);
  background-color: $white-dark-color;
  color: $purple-color;
  border: $purple-color solid 2px;
}

.inviteBtnDisable {
  background-color: $gray-color;
  color: $white-dark-color;
}