.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  height: 3.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #282A35;
  border-bottom: #000 solid 4px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 1.5rem; /* 24px*/
  font-weight: bold;
  line-height: 2rem;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.loginBtn {
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: rgb(89, 0, 148);
  background-color: #fff;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #f3f3f3;
}

.loginText {
  margin-left: 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  color: rgb(89, 0, 148);
}

.myPageBtn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: rgb(89, 0, 148);
  white-space: nowrap;
  background-color: #fff;
  cursor: pointer;
}

.myPageBtn:hover {
  background-color: #f3f3f3;
}

.hidden {
  display: none;
}