@import '../variables.module.scss';

.btn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}

.body {
  height: 100%;
  min-width: 35rem;
  padding: 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $navy-color;
  overflow: auto;
  position: relative;
}

.mainHeader {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}

.mainTitle {
  padding: 0.625rem;
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  color: $purple-color;
  background-color: $white-dark-color;
  border-radius: 5px;
}

.countdown {
  font-size: 1.5rem; /* 24px*/
  // font-weight: bold;
  color: $white-dark-color;
}
.mainBody {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.mainFooter {
  // width: 50%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.waitBox {
  height: 25rem;
  width: 25rem;
  margin: 2rem;
  padding: 1rem;
  margin: 0.625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $white-dark-color;
  border-radius: 0.625rem;
}

.waitItem {
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 35%;
  align-items: center;
  justify-content: center;
}

.loadingBox {
  padding-top:1.25rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: $navy-color;
}
.profileIcon {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.nickname {
  width: 5rem;
  margin-top: 1rem;
  color: $navy-color;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

.floatingBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  background-color: $green-color;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
}

.floatingBtn:hover {
  background-color: $green-light-color;
}