@import '../variables.module.scss';

.btn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}

.body {
  height: 100%;
  width: 100%;
  // min-width: 35rem;
  padding: 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  // justify-content: flex-start;
  background-color: $navy-color;
  overflow: auto;
  position: relative;
}

.mainHeader {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}

.mainTitle {
  padding: 0.625rem;
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  color: $purple-color;
  background-color: $white-dark-color;
  border-radius: 5px;
}

.countdown {
  font-size: 1.5rem; /* 24px*/
  // font-weight: bold;
  color: $white-dark-color;
  white-space: pre-wrap;
}

.countdown > div {
  font-size: 1.25rem; /* 24px*/
  // font-weight: bold;
  text-align: center;
  color: $white-dark-color;
  // color: $error-color;
  white-space: pre-wrap;
}

.mainBody {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.mainFooter {
  // width: 50%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.matchBox {
  height: 40vmin;
  width: 40vmin;
  // margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $white-dark-color;
  border-radius: 0.625rem;
}

.matchItem {
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 35%;
  align-items: center;
  justify-content: center;
}

.loadingBox {
  padding-top: 1.25rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 1vmin;
  font-size: 1.75vmin;
  line-height: 2vmin;
  font-weight: bold;
  text-align: center;
  color: $navy-color;
}

.profileIcon {
  width: 10vmin;
  height: 10vmin;
  position: relative;
}

.nickname {
  width: 5rem;
  max-width: 10vmin;
  margin-top: 1vmin;
  color: $navy-color;
  font-size: 1.75vmin;
  line-height: 2vmin;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
