@import '../variables.module.scss';

.popupBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.popupBox {
  width: 32rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  background-color: #fff;
}

.popupTitle {
  margin-bottom: 3rem;
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.popupText {
  margin-bottom: 3rem;
  color: #000;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
  white-space: pre-wrap;
}

.popupBtn {
  height:3rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.625rem;
  color: #fff;
  background-color: $purple-color;
  cursor: pointer;

  &:hover {
    background-color: $purple-dark-color;
  }
}