@import '../variables.module.scss';

.rankingBody {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $navy-dark-color;
}

.rankingBody::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: $navy-dark-color;
}

.rankingBody::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #4a02af71;
  /* background-color: #282a35a0; */
}

.rankingElem {
  justify-content: space-evenly;
  height: 3rem;
  padding: 0.625rem;
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white-dark-color;
  background-color: $navy-dark-color;

  &:hover {
    background-color: $navy-super-dark-color;
  }
}
.ranking10000,
.ranking1000,
.ranking100,
.rankEmoji,
.ranking {
  width: 1.75rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-light-color;
  text-align: center;
}

.rankEmoji {
  font-size: 1.75rem;
}

.ranking100 {
  font-size: 1rem;
}

.ranking1000 {
  font-size: 0.75rem;
}

.ranking10000 {
  font-size: 0.5rem;
}

.ranking100000 {
  font-size: 0.125rem;
}

.profileIcon {
  margin-right: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: $purple-color solid 2px;
}

.profileInfo {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  flex : 1;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.winRate{
  margin-left: 0.25rem;
  width: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  // font-weight: bold;
  color: $white-dark-color;
}

.info {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $gray-super-dark-color;
}

.rankIcon{
  width: 25px;
  height: 25px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}