@import '../variables.module.scss';

.body {
  padding: 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $navy-color;
  position: relative;
}

.mainHeader {
  display: flex;
  justify-content: flex-start;
}

.mainTitle {
  padding: 0.625rem;
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  color: $purple-color;
  background-color: $white-dark-color;
  border-radius: 5px;
}

.mainBody {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.mainFooter {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.resultBox {
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $white-dark-color;
  border-radius: 0.625rem;
}

.resultItemMine,
.resultItem {
  height: 5rem;
  padding: 0.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resultItemMine {
  background-color: $gray-light-color;
}

.rank {
  width: 1.75rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-super-dark-color;
  text-align: center;
}

.rankEmoji {
  width: 1.75rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-super-dark-color;
  text-align: center;
}

.profileIconBox4,
.profileIconBox3,
.profileIconBox2,
.profileIconBox1 {
  width: 3.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profileIconBox2 {
  width: 4.75rem;
}

.profileIconBox3 {
  width: 6rem;
}

.profileIconBox4 {
  width: 7.25rem;
}

.profileIconOverlap,
.profileIcon {
  margin: 0.625rem;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: $purple-color solid 2px;
}

.profileIconOverlap {
  margin-left: -1.75rem;
  position: relative;
}

.profileInfo {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultInfoBox {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.resultInfos {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nickname {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text,
.time {
  flex: 1;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: $gray-super-dark-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.language {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.codeBtn {
  height: 2rem;
  width: fit-content;
  padding: 0.25rem;
  margin: 0;
  text-align: center;
  line-height: 1.5rem;
  color: $white-dark-color;
  background-color: $gray-dark-color;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover {
    background-color: $gray-super-dark-color;
  }
}


.codeBackground {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.codeBox {
  width: 50vw;
  height: 70vh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: $navy-color;
}

.codeEditor {
  width: calc(100% - 2.5rem);
  // flex: 1;
  color: $white-dark-color;
  background-color: $navy-color;
}

// .btn {
//   // height: 2.5rem;
//   padding: 0.5rem;
//   flex-direction: row;
//   align-items: center;
//   font-size: 1rem;
//   font-weight: bold;
//   line-height: 1rem;
//   text-align: center;
//   border-radius: 5px;
//   color: $purple-color;
//   background-color: #fff;
//   outline: none;
//   // border: $gray-color solid 2px;
//   cursor: pointer;

//   &:hover {
//     background-color: $white-dark-color;
//   }
// }

.CodeMirror { 
  height: calc(100% - 2.5rem) !important;
  width:100% !important;
}


.hidden {
  display: none;
}


.btn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}

.hidden {
  display: none;
}