@import '../variables.module.scss';

.body {
  padding: 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $navy-color;
}

.mainHeader {
  display: flex;
  justify-content: flex-start;
}

.mainTitle {
  padding: 0.625rem;
  font-size: 1rem; /* 24px*/
  font-weight: bold;
  color: $purple-color;
  background-color: $white-dark-color;
  border-radius: 5px;
}

.mainBody {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.mainFooter {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.resultBox {
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $white-dark-color;
  border-radius: 0.625rem;
}

.resultItemMine,
.resultItem {
  height: 5rem;
  padding: 0.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resultItemMine {
  background-color: $gray-light-color;
}

.rank {
  width: 1.75rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-super-dark-color;
  text-align: center;
}

.rankEmoji {
  width: 1.75rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: $gray-super-dark-color;
  text-align: center;
}

.profileIconBox4,
.profileIconBox3,
.profileIconBox2,
.profileIconBox1 {
  width: 3.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profileIconBox2 {
  width: 4.75rem;
}

.profileIconBox3 {
  width: 6rem;
}

.profileIconBox4 {
  width: 7.25rem;
}

.profileIconOverlap,
.profileIcon {
  margin: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: $purple-color solid 2px;
}

.profileIconOverlap {
  margin-left: -1.75rem;
  position: relative;
}

.profileInfo {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultInfoBox {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.resultInfos {
  display: flex;
  flex-direction: row;
}

.nickname {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text,
.time {
  flex: 1;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: $gray-super-dark-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}

.hidden {
  display: none;
}