@import '../variables.module.scss';

.sidebarMobile,
.sidebar {
  height: calc(100vh - 3.75rem);
  width: 18.75rem !important; /* 300px */
  display: flex;
  flex-direction: column;
  border-left: #000 solid 4px;
  background-color: #f3f3f3;
  position: relative;
}

.sidebarMobile {
  margin-left: -18.75rem;
  // border-left: none;
}

.sidebarClose {
  width: 0; /* 300px */
  display: flex;
  flex-direction: column;
  // border-left: #000 solid 4px;
  background-color: #f3f3f3;
  position: relative;
}

.sidebarHeader {
  height: 3rem;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem; /* 24px*/
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
}

.headerTitleActive {
  height: 3rem;
  flex: 1;
  font-size: 1.25rem; /* 24px*/
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  background-color: $purple-color;
}

.sidebarBody {
  flex: 1;
  border-top: $purple-color solid 2px;
  overflow: auto;
}

.header {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem; /* 24px*/
  font-weight: bold;
  line-height: 3rem;
  color: $white-dark-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapseTagMobile,
.collapseTag {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $navy-color solid 2px;
  border-right: none;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  background-color: $white-dark-color;
  position: absolute;
  top: 50vh;
  left: -32px;
  z-index: 0;
}

.collapseTag {
  z-index: 9999;
}