@import '../variables.module.scss';

.popupBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.popupBox {
  width: 32rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  background-color: #fff;
}

.popupTitle {
  margin-bottom: 3rem;
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.popupText {
  margin-bottom: 3rem;
  color: #000;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
  white-space: pre-wrap;
}

.popupBtn {
  height:3rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.625rem;
  color: #fff;
  background-color: $purple-color;
  cursor: pointer;

  &:hover {
    background-color: $purple-dark-color;
  }
}

// 팔로우 버튼
.inviteBtnDisable,
.inviteBtnClicked,
.inviteBtn {
  height: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $white-dark-color;
  background-color: $purple-color;
  cursor: pointer;
}

.inviteBtn {
  padding: calc(0.5rem - 2px);
  background-color: $white-dark-color;
  color: $purple-color;
  border: $purple-color solid 2px;
}

.inviteBtnDisable {
  background-color: $gray-color;
  color: $white-dark-color;
}

//닫기 버튼

.btn {
  // height: 2.5rem;
  width: 3rem;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  border-radius: 5px;
  color: $purple-color;
  background-color: #fff;
  outline: none;
  // border: $gray-color solid 2px;
  cursor: pointer;

  &:hover {
    background-color: $white-dark-color;
  }
}


//from mypage

.infoTab {
  display: flex;
  flex-direction: column;
}

.historyTab,
.rankTab,
.myProfileBox {
  width: 22rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  display: flex;
  flex-direction: column;
  background-color: $navy-dark-color;
  border-radius: 10px;
}

.gameHistoryHeader,
.rankTabHeader,
.myProfileHeader {
  // height: 2rem;
  padding: 0.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-direction: row;
  // align-items: center;
  border-bottom: $navy-color solid 2px;
}

.rankTabTitle,
.myProfileTitle {
  color: $white-dark-color;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.myProfileBody {
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.myInfoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.myProfileIcon {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  border: $purple-color solid 4px;
  position: relative;
}

.myRank{
  position: absolute;
  bottom: -5px;
  left: -5px;
  z-index: 1;
}

.splitterVerticalGray,
.splitterVertical {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  width: 1px;
}

.fieldTitle,
.percentText,
.pointText,
.nickname {
  max-width: 10rem;
  padding: 0.625rem;
  color: $white-dark-color;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  overflow: hidden auto;
}

.nickname {
  font-size: 1.25rem;
  line-height: 2rem;
}

.percentText,
.pointText {
  font-size: 0.875rem;
  color: $gray-light-color;
}

.fieldTitle,
.percentText {
  text-align: center;
}

.myInfoCol {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.splitterHorizontal {
  height: 2px;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: $navy-color;
}

.rankBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.splitterVerticalGray,
.splitterVertical {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  width: 1px;
}

.splitterVerticalGray {
  background-color: $navy-trans-color;
}

.splitterVertical {
  height: 100% !important;
  width: 2px;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-color: $navy-color;
}

.gameHistoryHeader {
  height: 3rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sorryannie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}