html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, D2Coding, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Pretendard;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #424556;
}


@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: bold;
  src: url('/fonts/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: 'D2Coding';
  src: url('/fonts/D2Coding.ttf');
}

@font-face {
  font-family: 'D2Coding';
  font-weight: bold;
  src: url('/fonts/D2CodingBold.ttf');
}