// $purple-color: #4a02af;
$purple-color: rgb(89, 0, 148);
$purple-dark-color: rgb(112, 1, 185);
$navy-color: #282A35;
$navy-dark-color: #282A35;
$white-dark-color: #f3f3f3;
$gray-light-color: #d0d0d0;
$gray-color: #999999;
$gray-dark-color: #666666;
$gray-super-dark-color: #494949;
$error-color: #E02020;
$error-dark-color: #C31E1E;
